#particles-effects {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.home-header {
  background-color: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: none; }

@media (min-width: 768px) {
  .home-header {
    padding: 10px 0;
    display: block; } }

.home-header-new {
  background-color: #000;
  box-shadow: 0 0 10px #333; }

.header-logo {
  display: block; }

.header-logo .shorten-logo {
  display: none; }

.header-logo a {
  font-size: 30px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

.header-logo img {
  width: 100%; }

.header-logo a span {
  color: #e6ae49; }

.header-logo a:hover {
  background: none; }

.main-menu-area {
  text-align: right; }

.header-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  left: 0;
  right: auto;
  margin: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  text-align: left;
  top: 59px;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: -1; }

.main-menu-area ul li {
  display: inline-block;
  position: relative;
  padding-left: 35px; }

.header-nav li a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase; }

.header-nav li a:hover {
  color: #e6ae49; }

#navigation li.active a {
  color: #e6ae49; }

#navigation li a.active {
  color: #e6ae49; }

.header-nav li a i {
  padding-left: 5px; }

.header-nav li:hover ul {
  opacity: 1;
  top: 59px;
  visibility: visible;
  z-index: 99; }

.header-nav li ul li {
  display: block;
  padding-left: 0px;
  border-bottom: 1px solid #ddd; }

.header-nav li ul li:last-child {
  border-bottom: 0px solid; }

.header-nav li ul li > a {
  color: #424242;
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  transition: 0.3s; }

.header-nav li.active ul li > a {
  color: #424242 !important; }

.header-nav li.active ul li > a:hover {
  color: #fff !important; }

.header-nav li ul li > a:hover {
  background: #e6ae49;
  color: #fff; }
