
.about-section {
  //padding-top: 80px;
  padding-bottom: 80px;
  position:relative;
}
.about-section::after {
  background: rgba(0, 0, 0, 0) url("/src/images/about/about-arrow.png") no-repeat scroll right center;
  bottom: 0;
  content: "";
  float: right;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.about-img img {
  width: 100%;
}

.about-text{
  z-index:50;
}
.about-text h3 {
  color:#141313;
  font-size:40px;
  font-weight:600;
  font-family: 'Poppins', sans-serif;
  padding-top:60px;
  padding-bottom:15px;
}
.about-text p{
  color:#444;
  font-size:17px;
  font-weight:400;
  font-family: 'Poppins', sans-serif;
  line-height:30px;
  padding-bottom:10px;
}
.about-btn {
  color: #FFF;
  background: #e6ae49;
  border: 2px solid #e6ae49;
  padding: 14px 35px;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #e6ae49;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.about-btn:hover {
  box-shadow: inset 0 -100px 0 0 #fff;
  color: #444;
}

.about-events {
}