
.eventlist-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
  .eventlist-event {
    flex-direction: row;
    padding: 20px;
  }

  .eventlist-column-info {
    width: auto;
    padding-left: 30px;
  }
}

.eventlist-event:not(.eventlist-event--hasimg) .eventlist-datetag {
  top: 0;
  background: #e8ecec;
}

.eventlist-datetag {
  display: table;
  top: 10px;
  right: 10px;
  height: auto;
  min-height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  box-sizing: border-box;
}

.eventlist-datetag-inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 6px;
  color: inherit;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}

.eventlist-datetag-startdate--month {
  font-size: 14px;
  margin-top: 6px;
}

.eventlist-datetag-startdate--month, .eventlist-datetag-startdate--day, .eventlist-datetag-time, .eventlist-datetag-enddate {
  margin: 3px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.eventlist-datetag-time, .eventlist-datetag-enddate {
  border-top: 1px solid #ddd;
  margin: 6px 0 0 0;
  padding-top: 6px;
  font-size: 11px;
}

.eventlist-datetag-status {
  display: none;
  position: absolute;
  top: 0px;
  left: 35px;
  width: 1px;
  height: 70px;
  background: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Date Column*/
.eventlist-column-info {
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
}

#upcoming-shows-page .eventlist-column-date {
  left: 10px;
  height: 85px;
  width: 70px;
}

.eventlist-column-date {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}
.eventlist-datetag {
  display: table;
  top: 10px;
  right: 10px;
  height: auto;
  min-height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  box-sizing: border-box;
}
.eventlist-event:not(.eventlist-event--hasimg) .eventlist-datetag {
  top: 0;
  background: #e8ecec;
}

.eventlist-datetag-inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 6px;
  color: inherit;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}

.eventlist-datetag-startdate--month {
  font-size: 14px;
  margin-top: 6px;
}

.eventlist-datetag-startdate--month, .eventlist-datetag-startdate--day, .eventlist-datetag-time, .eventlist-datetag-enddate {
  margin: 6px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.eventlist-datetag-startdate--day {
  font-size: 14px;
}

.eventlist-datetag-startdate--month, .eventlist-datetag-startdate--day, .eventlist-datetag-time, .eventlist-datetag-enddate {
  margin: 3px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.eventlist-datetag-time, .eventlist-datetag-enddate {
  border-top: 1px solid #ddd;
  margin: 6px 0 0 0;
  padding-top: 6px;
  font-size: 11px;
}

.eventlist-datetag-startdate--month, .eventlist-datetag-startdate--day, .eventlist-datetag-time, .eventlist-datetag-enddate {
  margin: 3px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.eventlist-datetag-status {
  display: none;
  position: absolute;
  top: 0px;
  left: 35px;
  width: 1px;
  height: 70px;
  background: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.eventlist-datetag-inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 6px;
  color: inherit;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}

.eventlist-excerpt {
  float: right;
}
.eventlist-title {
  font-size: 20px;
  font-weight: 600;

}

.eventlist-title-link {
  color: #1c1c1c;
}
.eventlist-excerpt a, .tickets {
  border: 2px solid #1c1c1c;
  color: #e6ae49;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 21px 34px;
  transition: .1s background-color linear,.1s color linear;
  border-radius: 3px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventlist-meta {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(28,28,28,.5);
}

.eventlist-meta a {
  color: #e6ae49;
}

.clear {
  clear: both;
}


.events-section {
  /* background:#f5f5f5; */
  position: relative;
  padding-top:100px;
  padding-bottom:80px;
}
.events-heading h2{
  font-size:30px;
  text-align: center;
  margin-bottom: 40px;
}
.events-content h4{
  font-size:20px;
  font-weight:500;
  color:#fff;
}
.events-content p{
  font-size:17px;
  font-weight:400;
  color:#fff;
  margin-bottom:10px;
}
.events-border hr {
  border-top: 1px solid #fff;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 85%;
}