@import url("components/About/About.scss");
@import url("components/Events/Events.scss");
@import url("components/Header/Header.scss");
.App {
  text-align: center;
  background-image: url("images/background@2x.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  /*
  Low Resolution Tablets, Mobiles (Landscape)
*/ }
  @media (min-width: 768px) and (max-width: 1024px) {
    .App {
      background-image: url("images/background@2x.jpg"); } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .App {
      background-image: url("images/background@4x.jpg"); } }
  @media (min-width: 481px) and (max-width: 767px) {
    .App {
      background-image: url("images/background@4x.jpg"); } }
  @media (min-width: 1025px) {
    .App {
      background-image: url("images/background@4x.jpg"); } }

.container {
  display: flex;
  flex-direction: column;
  text-align: left; }

.social-icons {
  color: white;
  display: flex; }
  .social-icons li a {
    color: #fff; }
  .social-icons li:not(:last-child) {
    margin-right: 20px; }

.subtitle {
  margin-top: 0; }

.parallax {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; }
  @media (min-width: 768px) {
    .parallax {
      background-attachment: fixed; } }
