@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,700");
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0; }

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

h1 {
  font-weight: 700; }
